body{
    background-color: rgb(202, 255, 255);
    margin: 50px;
}

div{
    width: 500px;
    height: 500px;
    background-color: rgb(64, 59, 231);
    margin: 200px;
}

p{
    color: white;
}